@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0px;
    padding: 0px;
    }
/* Estilos de Cores e background */
.greenStyle{
    background-color: #43bd43;
    color:#bcf5bc
}

/* Estilos de menus */
.menubar{
    position: fixed;
   background-color: #73018a;
    width: 100%;
    height: 10vh;
    z-index: 90;
}
.menubar ul{
    margin-left: 10vh;
}
.menubar ul li{
    float: left;
    padding: 2vh;
    list-style: none;
    margin-left: 1vh;
    margin-top: -5vh;
    color: #b98ac2;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}
#responsiveMenu{
    display: none;
}
        /* Estilos de menus  (Responsivo)*/
@media screen and (max-width:600px){
    .menubar{
        position: fixed;
        background-color: #73018a;
        width: 100%;
        height: 10vh;
        z-index: 90;
    }
    .menubar img{
        top: 0vh;
        position: relative;
        left: 0vh;
        height: 8vh;
        width: 8vh;
    }
    .menubar ul li{
        float: left;
        display: none;
        padding: 2vh;
        list-style: none;
        margin-left: 1vh;
        margin-top: -5vh;
        color: #b98ac2;
        font-size: 3vh;
        font-family: 'Montserrat', sans-serif;
    }
    #responsiveMenu{
        visibility: visible;
        position: relative;
        margin-top: -6vh;
        margin-left: 12vh;
        display: block;
    }
}


/*Body content*/
body{
    overflow-x: hidden;
}

/*Bt content*/
.bt-standart-litle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    border: 0.2vh solid #b98ac2;
    font-family: 'Montserrat', sans-serif;
    height: 2vh;
    width: 15vh;
    padding: 2vh;
    padding-top: 2vh;
}
.bt-standart-litle a{
    color: #b98ac2;
    text-decoration: none;
    text-align: center;
}
.bt-standart-litle:hover{
    background-color: #41084d
}
.bt-standart{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    border: 0.2vh solid #b98ac2;
    font-family: 'Montserrat', sans-serif;
    height: 6vh;
    width: 30vh;
    padding: 2vh;
    padding-top: 2vh;
}
.bt-standart a{
    position: relative;
    color: #f0a4ff;
    text-decoration: none;
    text-align: center;
    top: 1vh;
}
.bt-standart:hover{
    background-color: #41084d
}
        /*Bt content (Responsivo)*/
@media screen and (max-width:600px){
    .bt-standart-litle{
        position: relative;
        margin-top: -4vh;
    }
    #responsiveMenu{
        display: block;
    }
    .bt-standart{
        height: 4vh;
        width: 20vh;
    }
}
/*amostras*/
.viewsHorizontal{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vh;
}
.viewsHorizontalItem{
    transition: 1s;
    background-color: #2b2e3b;
    color: #90eaed;
    margin-left: 4vh;
    width: 40vh;
    font-family: 'Montserrat', sans-serif;
    padding: 4vh;
    border-radius: 1vh;
}
.viewsHorizontalItem:hover{
    transition: 1s;
    width: 70vh;
}
        /*amostras (Responsivo)*/
        @media screen and (max-width:600px){
            .viewsHorizontalItem{
                
            }
        }