@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0px;
    padding: 0px;
    }
/* Estilos de Cores e background */
.greenStyle{
    background-color: #43bd43;
    color:#bcf5bc
}

/* Estilos de menus */
.menubar{
    position: fixed;
    background-color: green;
    width: 100%;
    height: 10vh;
    z-index: 90;
}
.menubar ul li{
    float: left;
    padding: 2vh;
    list-style: none;
    margin-left: 8vh;
    margin-top: -5vh;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
/*Body content*/
body{
    overflow-x: hidden;
}

/*Body content*/
.bt-standart-litle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    border: 0.2vh solid white;
    font-family: 'Montserrat', sans-serif;
    height: 2vh;
    width: 15vh;
    padding: 2vh;
    padding-top: 2vh;
}
.bt-standart-litle a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.bt-standart-litle:hover{
    background-color: green
}
.bt-standart{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    border: 0.2vh solid white;
    font-family: 'Montserrat', sans-serif;
    height: 6vh;
    width: 30vh;
    padding: 2vh;
    padding-top: 2vh;
}
.bt-standart a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.bt-standart:hover{
    background-color: green
}